:root {
    --dark-blue: #001A49;
    --light-purple: #CD10FF;
    --white: white;
    --baground-gray: rgba(231, 234, 235, 1);
    --baground-yellow: linear-gradient(35.71deg, #FFD7A9 9.11%, #FFAE70 71.64%);
    --baground-purple: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
    --baground-dark-blue: linear-gradient(44.11deg,rgb(0, 26, 73) 15.75%,rgb(3, 41, 110) 84.63%);
    --baground-light-purple:  #9f06ff0d 84.63%;
    --small-haight-of-button: 50px;
    --big-haight-of-button: 66px;
    --border-radius-mini: 21px;
    --border-radius-standart: 33px;
    --border-radius-circle: 50%;
    --font-weight-larg: 700;
    --font-weight-small: 400;
    --font-mulish: 'Mulish', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}


body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-mulish);
    color: var(--dark-blue);
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}

.button {
    border-radius: var(--border-radius-standart);
    border: none;
    background: var(--baground-purple);
    color: var(--white);
    font-weight: var(--font-weight-larg);
    cursor: pointer;
}

.button:hover {
    background: var(--baground-dark-blue);
    color: rgb(146, 146, 146);
    transition: 15s;
}

.button--small {
    /*width: 147px;*/
    height: var(--small-haight-of-button);
    padding: 15px 30px;
    font-size: 16px;
    /*font-weight: 700;*/
    /*line-height: 20px;*/
    /*margin-left: 42px;*/
}

.button--long {
    height: var(--big-haight-of-button);
    padding: 4px;
    display: flex;
    justify-content: space-around;
    width: 278px;
}

.button--long__text {
    color: var(--white);
    font-family: var(--font-mulish);
    font-weight: var(--font-weight-small);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.mini-stick {
    background: #8639B5;
    width: 1px;
    height: 30px;
    margin-top: 12px;
}

.a {
    color: var(--dark-blue);
    text-decoration: none;
}

.p {
    font-family: var(--font-mulish);
    font-weight: var(--font-weight-small);
    color: var(--dark-blue);
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
}

.p-mini {
    font-family: var(--font-mulish);
    font-weight: var(--font-weight-small);
    color: var(--dark-blue);
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}


.h1,
.h2,
.h3 {
    font-family: var(--font-montserrat);
    color: var(--dark-blue);
    font-weight: var(--font-weight-larg);
    line-height: 1.4;
    margin: 0;
}

.h1 {
    font-size: 60px;
}

.h2 {
    font-size: 46px;
}

.h3 {
    font-size: 32px;
}



.fat-link {
    font-weight: var(--font-weight-larg);
    font-size: 16px;
    line-height: 20px;
}

.fat-link:hover {
    color: var(--light-purple);
}

.link {
    font-weight: var(--font-weight-small);
    font-size: 16px;
    line-height: 35px;
}

.link:hover {
    color: var(--light-purple);
}

.list-main-element {
    font-weight: var(--font-weight-larg);
    font-size: 16px;
    line-height: 35px;
}