.header { 
    flex: 1; 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header__flex {
    display: flex;
}

.sing-in__get-started {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    padding-right: 80px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.course-topics__what-students-say {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 294px;
}

.span__logo {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    padding-left: 12px;
}

.header__button {
    width: 147px;
    height: var(--small-haight-of-button);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 42px;
}


.link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.link:hover {
    color: var(--light-purple);
}

@media screen and (max-width: 950px) {
    .header {
        flex-direction: column;
    }

    .header__logo {
        padding-right: 0;
        justify-content: center;
    }

    .header-navigation {
        width: auto;
    }

    .header-content {
        width: auto;
    }

    .header__flex {
        display: unset;
    }
}

@media screen and (max-width: 500px) {
    .header-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}