.main {
    flex: 1;
}

.main-screen {
    position: relative;
    margin-top: 20px;
    margin-bottom: 100px;
}

.main-screen__content-box {
    max-width: 516px;
    position: absolute;
}

.main-screen__content {
    background: var(--baground-light-purple);
    border-radius: 0 20px 20px 0;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 130px;
}

@media screen and (min-width: 992px) {
    .main-screen__content {
        width: 75vw;
    }
}

.main-screen__button {
    width: 206px;
    height: 66px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 80px;
}

.noval {
    margin-left: -30px;
}


.main-screen--foto-box {
    display: flex;
    align-items: center;

}

.color_of_number {
    color: var(--light-purple)
}

.photo_of_students {
    padding-right: 25px;
}



@media screen and (min-width: 992px) {
    .main-screen__video {
        width: calc(25vw + 240px);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    
}

.stick {
    width: 2px;
    height: 100px;
    background: var(--baground-gray);
}

.information-table {
    border: 1px solid var(--baground-gray);
    background: var(--white);
    max-width: 1120px;
    height: 172px;
    border-radius: var(--border-radius-mini);
    margin-top: -22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    justify-self: revert;
    align-self: center;
}

@media screen and (max-width: 992px) {
    .main-screen__content {
        border-radius: 0px;
        width: 100%;
        padding-left: 0px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .main-screen__content-box {
        text-align: center;
    }

    .main-screen--foto-box {
        flex-direction: column-reverse;
    }

    .information-table {
        width: 19%;
        height: 500px;
        margin-top: 0px;
        flex-direction: column;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .stick {
        width: 100px;
        height: 2px;
    }

}

.main-screen__video-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 56.25%;
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 992px) {
    .main-screen__video-container {
        border-radius: 20px 0 0 20px;
        box-shadow: 0 32px 44px #818A8C;
    }
}


.main-screen__video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.purple__circle {
    width: 288px;
    height: 288px;
    position: absolute;
    border-radius: var(--border-radius-circle);
    background: var(--baground-purple);
    margin-left: -50px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.small-yellow__circle {
    background: var(--baground-yellow);
    width: 86px;
    height: 86px;
    border-radius: var(--border-radius-circle);
}



.information-block__students-numbers {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
}



.information-table__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.information-table__box__number {
    font-family: var(--font-montserrat);
    font-style: normal;
    font-weight: var(--font-weight-larg);
    font-size: 40px;
    line-height: 50px;
    color: var(--dark-blue)
}


.half__circle {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    background: var(--baground-yellow);
    width: 192px;
    height: 384px;
    position: absolute;
    align-self: flex-end;
    margin-top: 14%;
}

.advertising {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advertising__main-text {
    width: 517px;
    margin-bottom: 60px;
}

.advertising__card {
    width: 100%;
    height: 172px;
    background: var(--baground-light-purple);
    border-radius: var(--border-radius-mini);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.advertising__card-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 508px;
}

.instructor-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.instructor-information__text {
    max-width: 560px;
}