.main {
    flex: 1;
}

.main-screen {
    width: 71%;
    height: calc(100vh - 100px);
    background: var(--baground-light-purple);
    margin-bottom: 100px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
}

.learn-nocode {
    max-width: 455px;
}

.create_beautiful_webflow {
    max-width: 440px;
    padding-bottom: 32px;
    line-height: 28px;
}

.main-screen__button {
    width: 206px;
    height: 66px;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 80px;
}

.noval {
    margin-left: -30px;
}

.which_join_students {
    display: flex;
    align-items: center;

}

.color_of_number {
    color: var(--light-purple)
}

.foto_of_students {
    padding-right: 25px;
}

.video {
    border-radius: 20px;
    width: 40%;
    max-width: 590px;
    height: 60vh;
    position: absolute;
    margin-left: 47%;
    margin-top: 7%;
}